


.container {
    display: flex;
    width: 100%;
    /* height: 100vh; */
}

.contTitle {
    /* background-color: violet; */
    width: 22rem;
    height: 100%;
    margin-left: 3rem;
}

.contTitle h1 {
    margin: 2.6rem auto;
    color: #fff;
    font-size: 5.4rem;
}

.contTitle img {
    /* background-color: #e086d2ea; */
    position: absolute;
    top: 15rem;
    left: 16.8rem;
    width: fit-content;
    height: 4.8rem;
    object-fit: cover; 
}
.contTitle h1 span {
    color: #8332AC;
}
.contTitle p {
    border-radius: 12px;
    color: #fff;
    font-size: 2rem;
    display: inline-block;
    width: 30rem;
    height: 12rem;
    padding: 10px;
    
}

.contTitle p span {
    color: #8332AC;
    font-weight: 600;
}



.form {
    color: #fff;
    margin: 2.6rem 0 0 15rem;
    width: 56%;
    min-width: 50%;
    min-height: 76vh;
    background-color: rgba(128, 128, 128, 0.38);
    border: 1px solid rgba(0, 0, 0, 0.608);
    border-radius: 12px;

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    font-size: 1.4rem;
}

form {
    /* background-color: violet; */
    width: 100%;
    min-height: 70vh;
    height: 100%;
    padding: 1.4rem;
    padding-bottom: 0; 
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .2rem 1rem;
}
    .form section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: flex-start; */
        align-self: flex-start;

    }

.form label {
    margin: 10px 0;
}

.form input {
    box-shadow: 5px 5px 8px rgba(0,0,0,0.75);
    font-family: 'Comfortaa', cursive;
    outline: none;
    padding-left: 1rem;
    width: 100%;
    height: 2.5rem;
    font-size: 1.4rem;
    border: 1px solid black;
    border-radius: 5px;
    
}




.errors {
    margin-top: 6px;
    font-size: 1rem;
    color: red;
}

/* .contName input {
    
} */

.contImage input {
    display: block;    
}


.contDescription {
    grid-column: 1 / 3;
}
.contDescription textarea {
        display: block;
        font-family: 'Comfortaa', cursive;
        outline: none;
        padding-left: 1rem;
        font-size: 1.4rem;
        padding-top: 8px;    
        
        box-shadow: 5px 5px 8px rgba(0,0,0,0.75);

        width: 100%;
        border-radius: 5px; 
        height: 2.5rem;
}

    ::placeholder {
        font-family: 'Comfortaa', cursive;
        font-size: 1.1rem;
        color: rgba(128, 128, 128, 0.639);
    }


.contReleased input {
    cursor: pointer;    
}

.contRating input {
    padding-left: 0;
    appearance: none;
    cursor: pointer;
}


.contRating input::-webkit-slider-thumb {
    appearance: none;
    background: #8332AC;
    width: 1rem;
    height: 2.44rem;
    cursor: pointer;
    border: .01rem solid black;
    box-shadow: 2px 0 4px 3px rgba(0,0,0,0.75);
    transition: transform .2s, border-radius .2s;

}
    .contRating input::-webkit-slider-thumb:hover {
        transform: scale(1.2);
        border-radius: 6px;
    }

.contGenres select, .contPlatforms select {
    font-family: 'Comfortaa', cursive;
    outline: none;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.75);
    border-radius: 5px;
    cursor: pointer;

    /* background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%); */
}


.contArrayGenres, .contArrayPlatforms {
    width: 100%;
    /* height: fit-content; */
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 6px;
    gap: 4px;

}


.contArrayGenres span, .contArrayPlatforms span {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 4rem; */
    height: 2rem;
    /* border: 1px solid black; */
    border-radius: 4px;
    background-color:#B471D6;
    padding: 0 6px;
    font-size: 1.2rem;
}

.contGenres img, .contPlatforms img {
    width: auto;
    height: 1.2rem;
    object-fit: contain;
    cursor: pointer;
    border-radius: 10px;
    transition: background .1s;
    margin-left: 4px;
}
    .contGenres img:hover, .contPlatforms img:hover {
        background-color: black;
    }






.contSubmitBtn {
    width: 100%;
    height: 5rem;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.contSubmitBtn button {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.75);
    background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
    width: 60%;
    font-size: 2.4rem;
    padding: 8px 12px;
    border-radius: 6px;
    transition: transform .24s, opacity .3s, box-shadow .24s ease-in-out;
    
}

    .contSubmitBtn button:hover {
        transform: scale(1.04);
        opacity: .76;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.75);
        }

.disabledSubmitButton {
    opacity: .24;
    pointer-events: none;
}

/* .contImgText {
    background-color: red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modalSubmit h5 {
    width: 100%;
    margin-left: -16rem;
    margin-top: -.4rem;
} */

.modalSubmit img {
    /* position: absolute; */
    /* top: 15rem; */
    /* left: 16.8rem; */
    margin-bottom: .4rem ;
    width: fit-content;
    height: 6rem;
    object-fit: cover; 
}

.modalSubmit {
    color: black;
    width: 50%;
    height: 54%;
    margin: auto;
    box-shadow: 22px 22px 4px 0px rgba(0,0,0,0.54);

    text-align: center;
    overflow: hidden;
    border-radius: 12px;
}

.modalSubmit h2 span {
    color: #8332AC;
}

.modalSubmit::backdrop {
    background-color: rgba(0, 0, 0, 0.577);
}


.linkToHomeModal {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.linkToHomeModal:visited {
    color: #fff;
}

.btnHomeModal {
    background-color: #121212;
    font-size: 1.2rem;
    
    margin-top: 2rem;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 3rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 1px 20px 15px -8px rgba(0,0,0,0.58);

    transition: font-size .2s, opacity .1s;

}
    .btnHomeModal:hover {
        /* transform: scale(1.016); */
        font-size: 1.42rem;
        opacity: .82;
    }


.modalDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.goToSeeItLink {
    text-decoration: none;
}


.modalDisplay .goToSeeIt {
    background-color: #8332AC;
    color: #fff;
    font-size: 1.2rem;
    
    /* margin-top: 2rem; */
    display: flex;
    align-items: center;
    width: fit-content;
    height: 3rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 1px 20px 15px -8px rgba(0,0,0,0.58);

    transition: font-size .2s, opacity .1s;
}
    .goToSeeIt:hover {
            /* transform: scale(1.016); */
            font-size: 1.42rem;
            opacity: .82;
        }
        
        
        
.or {
    display: inline-block;
    padding: auto 0;
    margin-top: 1.4rem;
}





    /* media queries */


    /* @media (max-width: 1084px) {
        form {
            display: flex;
            flex-direction: column;
        }
    } */


    @media (max-width: 1360px) {


        .modalDisplay .goToSeeIt {
            margin: 0;
        }
        /* .contTitle h1 {
            font-size: 5rem;
        }

        .contTitle img {
            top: 14.2rem;
            left: 16rem;
        }

        .form {
            margin: 0 0 0 11.6rem;
            width: 50%;        
            align-self: center;
        }

        form {
            width: 100%;
            flex-direction: column;
        }
    
        .form input {
            width: 100%;
        
        }

        .form section {
            width: 100%;
        }
        .contSubmitBtn button {
            font-size: 1.6rem;
        } */
    }

/* 
    @media (max-width: 990px) {
        .container {
            flex-direction: column;
            align-content: center;
            width: 100%;
        }

        .contTitle {     
            width: 100%;
            height: 100%;
        }
        .contTitle h1 {
            margin: 2.6rem 12rem 2.6rem auto;

            color: #fff;
            font-size: 6rem;
            text-align: center;
        }
        .contTitle img {
            top: 9rem;
            left: 48rem;
            height: 5.4rem;
        }
        .contTitle p {
            align-self: center;
            text-align: center;
            width: 90%;
            height: auto;
            margin-bottom: 2rem;
        }

        .form {

            width: 80%;
            margin: 0 0 2rem;
        }

        .form section {
            width: 100%;
    
        }
        .form input {
            width: 100%;
        
        }
        form {
            width: 100%;
        }
        
        .contSubmitBtn button {
            margin: 2rem auto 1rem;
            width: 100%;
        }
    } */


/* seguir con la media querie 600px */


    /* @media (max-width: 600px ) {    

        .contTitle h1 {
            background-color: crimson;
            color: #fff;
            font-size: 3.2rem;
        }

        .contTitle p {
            align-self: center;
            text-align: center;
            width: 90%;
            height: auto;
        }
        

                
    } */