
/* .loaderTest {
    position: fixed;
    z-index: 900;
    background-color: rgb(205, 44, 44);
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* .disableScroll {
    overflow: hidden;
} */

.landing {
    position: relative;
    /* z-index: 500; */
    width: 100%;
    height: 100vh;
    top: 0;

    display: flex;
    align-items: center;
    
}

.contVideogamesImages {
    position: absolute;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
    gap: 0 1rem;
    width: 100vw;
    height: 100vh;
    opacity: .6;

    
    animation: videogameImages 30s infinite alternate ease-in-out;
}
    @keyframes videogameImages {
        to {
            margin-left: -130rem;
        }
    }

.contVideogamesImages img {
    width: 10rem;
    height: 14rem;
    object-fit: cover;

}


.overlayImages {
    background: radial-gradient(circle, rgba(14,9,19,0) 38%, rgba(0,0,0,1) 91%);
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
}

/* .closeLanding {
    animation: closeLanding 5s;
}

    @keyframes closeLanding {
        to {
            top: -40rem;
        }
    } */

.videoBg {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.165);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

}


.contWelcome {
    /* background-color: rgba(193, 29, 29, 0.815); */
    position: absolute;
    z-index: 40;

    width: 100%;
    height: 21rem;

    display: flex;
    justify-content: center;
}


.contWelcome span {
    /* font-family:'Caveat', cursive; */
    color: #fff;
    font-size: 2.8rem;

    transform: translateX(2rem);    
    animation: span 18s infinite alternate ; 
}
    @keyframes span {
        to {
            transform: translateX(19rem);
        }
    }

.contWelcome h1 {
    font-family: 'Caveat', cursive;
    color: #fff;
    font-size: 6rem;
    padding: 1.2rem;

    transform: translateX(-2rem);    
    animation: h1 18s infinite alternate ; 
}
    @keyframes h1 {
        to {
            transform: translateX(-14rem);
        }
    }




.contLogoJoystick {
    /* background-color: rgba(0, 0, 0, 0.408); */
    width: min-content;
    height: fit-content;
    position: absolute;
    z-index: 30;

    cursor: pointer;

    border-radius: 12px;
    margin-left: 52rem;
    margin-bottom: 14rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;

}


.contLogoJoystick img {
    position: relative;
    z-index: 100;

    width: 100%;
    min-width: 250px;
    height: 10rem;
    object-fit: contain;
    filter: drop-shadow(0px 7px 21px black);
    
    /* transform: rotate(5deg) scale(1.14); */
    animation: logoJoystick 4s infinite alternate;
}
    @keyframes logoJoystick {
        from {
            transform: rotateY(180deg);
        }
        to { 
            transform: rotateY(-180deg);
        }
    }



.contBtnHome {
    /* background-color: rgba(238, 130, 238, 0.364); */
    position: absolute;
    z-index: 120;

    margin-top: 2.6rem;
    width: 100%;
    height: 16rem;

    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.btnHome {
    position: relative;
    z-index: 50;
    background-color: #10002B;
    color: #Fff;
    font-size: 2.2rem;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #aaa;
    border-radius: 12px;
    padding: 1.2rem 2rem;
    display: flex;
    align-items: center;
    opacity: .82;
    overflow: hidden;

    transition: all .4s;
    animation: btnHome 2s ease-in infinite alternate;    
}
    .btnHome:hover {
        background-color: #3c096cdd;
        /* box-shadow: 0 0 10px #9D4EDD, 0 0 40px #9D4EDD, 0 0 80px #9D4EDD; */
    }
    .btnHome:active {        
        transform: scale(.96);
    }

    @keyframes btnHome {
        to {
            transform: scale(1.06);
            box-shadow: 0 0 10px #9D4EDD, 0 0 40px #9D4EDD, 0 0 80px #9D4EDD;
            opacity: 1;
        }
    }







.btnHome span {
    position: absolute;
    display: block;
    /* z-index: -1; */
}




.spanBtn1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: .14rem;
    /* background: linear-gradient(90deg, transparent, rgb(199, 125, 255) 62%); */
    background: linear-gradient(90deg, transparent, #c77dff);
    
   
}
   
    .btnHome:hover .spanBtn1 {
        left: 100%;
        transition: 1s;
    }



.spanBtn3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: .14rem;
    /* background: linear-gradient(270deg, rgba(199,125,255,1) 0%, rgba(36,0,70,1) 62%); */
    background: linear-gradient(270deg, transparent, #c77dff);

    /* transition: .6s; */
}
    .btnHome:hover .spanBtn3 {
        right: 100%;
        transition: 1s .5s;
    }


.spanBtn2 {
    top: -100%;
    right: 0;
    width: .14rem;
    height: 100%;
    /* background: linear-gradient(270deg, rgba(199,125,255,1) 0%, rgba(36,0,70,1) 62%); */
    background: linear-gradient(180deg, transparent, #c77dff);

    transition: .6s;
}
    .btnHome:hover .spanBtn2 {
        top: 100%;
        transition: 1s .25s;
    }
    

.spanBtn4 {
    bottom: -100%;
    left: 0;
    width: .14rem;
    height: 100%;
    /* background: linear-gradient(270deg, rgba(199,125,255,1) 0%, rgba(36,0,70,1) 62%); */
    background: linear-gradient(360deg, transparent, #c77dff);

    transition: .6s;
}
    .btnHome:hover .spanBtn4 {
        bottom: 100%;
        transition: 1s .75s;
    }






.unmountLanding {
    opacity: 0;
    top: -60rem;
    /* transform: scale(3.5); */
    transition: top 1.2s, opacity 1s;
}








































    /* media queries */

    @media (min-width: 1600px) {
        /* .contWelcome {
            background-color: red;
            top: 11rem;
        }
        
        .contBtnHome {
            top: 19rem
        } */
        
        .contLogoJoystick {
            margin-left: 62rem;
        }
    }



/* 

    @media (max-width: 1680px) {
        .contWelcome {
            top: 11rem;
        }

        .contBtnHome {
            top: 23rem
        }

        .contLogoJoystick {
            bottom: 17rem;
            right: 34rem;
        }
    }
 */

/* 


    @media (min-width: 1680px) {
        .contWelcome {
            background-color: red;
            top: 20rem;
        }

        .contBtnHome {
            top: 29rem
        }

        .contLogoJoystick {
            bottom: 27rem;
            right: 36rem;
        }
    } */